<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column has-text-left">
        <p>
          <button class="button is-small">Sign Out</button>
        </p>
      </div>
      <div class="column has-text-right">
        <p>
          <a
            href="https://git.ryanburnette.com/ryanburnette/cdadmin"
            target="_blank"
          >
            About cdadmin
          </a>
          <span>/</span>
          <span>Version: 0.1.0</span>
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="/main.js"></script>
