<div class="dashboard" v-if="ready">
  <div class="section">
    <div class="container is-fluid">
      <div class="title">
        <h2 class="has-text-weight-bold">Dashboard</h2>
      </div>
      <div class="content">
        <p>
          <b>git-deploy</b> is a tool for managing continuous deployment of
          statically generated websites.
        </p>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="title is-size-5">
              <h3 class="has-text-weight-bold">Staging</h3>
            </div>
            <div class="content">
              <p>Staging...</p>
            </div>
            <div class="content">
              <p>
                <button class="button is-primary">Build</button>
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="title is-size-5">
              <h3 class="has-text-weight-bold">Production</h3>
            </div>
            <div class="content">
              <p>Production...</p>
            </div>
            <div class="content">
              <p>
                <button class="button is-primary">Build</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
