<nav class="navbar">
  <div class="container is-fluid">
    <div class="navbar-brand">
      <span class="navbar-item brand-text has-text-weight-bold">
        git-deploy
      </span>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <router-link class="navbar-item" to="/">Dashboard</router-link>
        <router-link class="navbar-item" to="/jobs">Jobs</router-link>
        <router-link class="navbar-item" to="/promote">Promote</router-link>
      </div>
    </div>
  </div>
</nav>
