.header {
  padding: 3rem 0;
  text-align: center;
}
.header h1 {
  font-weight: bold;
}
.header h2 {
  font-weight: bold;
}
.header p {
  margin: 2rem 0;
  padding: 0;
}
.header p a {
  padding: 0 0.5rem;
}
