// numbers
$golden: 1.618;

// colors
$primary: #1c6ba0;
$link: $primary;

// fonts
$family-primary: 'Open Sans', Arial, sans-serif;

@import 'bulma/bulma';

html,
body {
	background-color: darken($white, 2.5);
}

// sticky footer
html,
body,
#app,
.app {
	height: 100%;
}
.app {
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 0 auto;
}

.navbar {
	margin-bottom: 2rem;
	background-color: darken($white, 7.5);
	font-size: (14/16) * 1rem;
}
.navbar-item {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
	background-color: darken($white, 2.5);
}
// navbar brand left space override
.navbar > .container .navbar-brand,
.container > .navbar .navbar-brand {
	margin-left: -0.75rem;
}
.x-footer {
	flex-shrink: 0;
}
.x-footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: darken($white, 7.5);
	p {
		font-size: (12/16) * 1rem;
		line-height: 2rem;
	}
	.column.x-l {
		text-align: center;
	}
	.column.x-r {
		text-align: center;
	}
	@include tablet {
		.column.x-l {
			text-align: left;
		}
		.column.x-r {
			text-align: right;
		}
	}
}
.hero.is-fullheight.signin {
	background-color: darken($white, 2.5);
	min-height: calc(100vh - 4rem);
}
.button.continue {
	width: 100%;
}
.signin-info p {
	font-size: (14/16) * 1rem;
}
.signin {
	.box {
		padding-right: $golden * 1rem;
		padding-bottom: 2rem;
		padding-left: $golden * 1rem;
	}
	.column {
		max-width: 26rem;
	}
}

[v-cloak] {
	@extend .is-hidden;
}

.page-loader {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		@include loader;
		width: 3rem;
		height: 3rem;
		border-width: 0.3rem;
	}
}
